
<div class="center jumbotron text-center">
  <div class="container">
    <h1 class="text-white">LESSON 2</h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-7 p-3">
      <h3>Listening!</h3>
<!---->
      <div class="p-3">
        <h5>準備中</h5>
      </div>
    </div>
    

<!--スピーキング-->
    <div class="col-sm-5 d-sm-none d-block p-3">
      <p>PC版では録音、再生機能をお使いいただけます。</p>
    </div>
    
    <aside class="col-sm-5 d-none d-sm-block" style="padding: 10px;">
      <div style="position: -webkit-sticky; position: sticky; top: 100px;">
        <%= render 'layouts/recorder' %>
        <input type="button" value="データリフレッシュ" class="btn btn-secondary mb-3" onclick="window.location.reload();">
      </div>
    </aside>
<!--スピーキングここまで-->
    
  </div>
</div>


<div class="text-center m-5">
  <a href="/" class="text-muted">TOPPAGEへ戻る</a>
</div>



