
<div class="center jumbotron text-center">
  <div class="container">
    <h1 class="text-white">LESSON 2</h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-7 p-3">
      <h3>Listening!</h3>
<!---->
      <div class="p-3">
        <h5>準備中</h5>
      </div>
    </div>
    

<!--スピーキング-->
  <%= render 'layouts/recorder' %>
<!--スピーキングここまで-->
    
  </div>
</div>


<div class="text-center m-5">
  <a href="/" class="text-muted">TOPPAGEへ戻る</a>
</div>



