
<div class="center jumbotron text-center">
  <div class="container">
    <h1 class="text-white">TOPPAGE</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    
    <div class="col-sm-12 mb-3">
      <h3 class=" text-center">ようこそ</h3>
      <p class="mt-3">中国語リプロダクショントレーナーは初級〜上級の中国語学習者が実践的な会話力を身に着けるためのトレーニング教材を提供しています。<br><br>
      短文を聞き、聞いたままを発音して録音し、自分の発音とお手本を近づけていくリプロダクションは、同時通訳者のトレーニングにも採用されている、非常に効果の高い外国語学習方法です。<br><br>
      以下の手順でぜひご活用ください。</p>
      <ol>
      <li>スクリプトを見ずに聞き取りを行う。最低４回はスクリプトを見ず集中して聞く。<br><br></li>
      <li>聞き取れない場合はスクリプト、ピンイン、意味を確認する。聞き取れた場合は、スクリプト、ピンインを見ずに（3）へ進む。<br><br></li>
      <li>聞いて意味を掴めるようになったら、音源を聞く→スクリプトを見ずに同じ内容を発音するということを繰り返す。<br><br></li>
      <li>自分の発音を録音し、お手本の音源と同じように発音できるまで繰り返す。<br><br></li>
      </ol>
      <p>詳しいご説明は上記メニューのAboutをご覧ください。</p>
    </div>
      
    <div class="col-sm-12 mb-5">
      <h3 class=" text-center">目次</h3>
      <div class="col-sm-12 p-3 text-center"><a href="/lesson01s" class="text-muted">LESSON 1</a></div>
      <div class="col-sm-12 p-3 text-center"><a href="/lesson02s" class="text-muted">LESSON 2</a></div>
    </div>
    
  </div>
</div>



<%= render 'layouts/footer' %>
