<div class="center jumbotron text-center">
  <div class="container">
    <h1 class="text-white">ABOUT</h1>
  </div>
</div>

<div class="container mb-5">
  <div class="row text-center">
    <h5>準備中</h5>
  </div>
</div>

<div class="text-center m-5">
  <a href="/" class="text-muted">TOPPAGEへ戻る</a>
</div>

<%= render 'layouts/footer' %>
